/node_modules
/storage
/public/uploads
/public/static/images
/storage/*.key
/vendor
/config
/.env
/.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/composer.json
/composer.lock
/public/.htaccess/node_modules
/storage
/public/uploads
/public/static/images
/storage/*.key
/vendor
/config
/.env
/.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/composer.json
/composer.lock
/public/.htaccess